h1{
    margin: 0;
    padding: 0;
    height: 15px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: small;
}

canvas{

    	vertical-align: bottom;

}

body,html{

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
